$theme-color : #ff8400;
$theme-bright : #f9f7f4;
$theme-dark : #ff9500;
$theme-dark2 : #ff9500db;
$text : rgba(0,0,0,0.8);
$text-gray : rgba(0,0,0,0.54);

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
